body { padding-top: 70px; }

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#map {
  width: 900px;
  height: 600px;
  margin: 0;
  padding: 0;
}

.events, .events svg {
  position: absolute;
}

.events svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.events circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}