body {
  padding-top: 70px;
  background-color: #393939;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

div {
  color: white;
}


/* map */

#map {
  width: 900px;
  height: 600px;
  margin: 0;
  padding: 0;
}

.events,
.events svg {
  position: absolute;
}

.events svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.events circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}


/* slider */

p {
  color: white;
  margin: 50px;
}

a {
  color: #4FDEF2;
}

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

text {
  fill: white;
  text-align: center;
}


/* stacked bar chart */

.bar:hover {
  fill: brown;
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60%;
}


/* stolen years */
.line-stolen {
  shape-rendering: crispEdges;
}