body {
  padding-top: 70px;
}

div {
  color: white;
}


/* 1st stacked bar and time brush/zoom */

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}


/* map */

#map {
  width: 900px;
  height: 600px;
  margin: 0;
  padding: 0;
}

.events,
.events svg {
  position: absolute;
}

.events svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.events circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}


/* slider */

body {
  background-color: #393939;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

p {
  color: white;
  margin: 50px;
}

a {
  color: #4FDEF2;
}

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.handle text {
  fill: white;
  text-align: center;
}