{% extends "layout.html" %}
{% block body %}
<div class="row">
   <div class="col-md-12"><p>In April 2016, the province of British Columbia declared overdoses a public health emergency.
   The rates of overdoses in B.C. and in Fraser Health are dramatically on the rise to levels never seen before.
   The B.C. Coroners Service reported that there were 922 illicit drug overdose deaths from January to December 2016 in the province.
   Overdoses are occurring in all sectors of our communities, at all ages across all social statuses.
   Overdose is complicated, it is impacted by general health, environmental conditions, the substance taken and what else is
   also taken at the same time.
   <br/>
   The data used here is randomly generated but based off of numbers found on the BC Coroners Report.
   </p>
   <p>Stolen Years refers to the years of life stolen by the overdose crisis.</p></div>
</div>
<div class="row">
  <div class="col-md-12"><div id="stolen-years">Stolen Years</div>
  <div id="tooltip" class="hidden">
        <p id="value"></p>
</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12"><div id="stacked-bar-chart"><div id="cities">All Cities</div></div></div>
</div>
<div class="row">
  <div class="col-md-6"><div id="count">Events</div></div>
  <div class="col-md-6"><div id="stacked-bars-age">Stacked Bar Chart</div></div>
</div>
<div class="row">
  <div class="col-md-12"><div id="slider">Slider</div></div>
</div>
<div class="row">
   <div class="col-md-12"><div id="map">Map</div></div>
</div>

<div class="row">
   <div class="col-md-12">
     Contact us
   </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/barbrush.js') }}"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stolenyears.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slidebars.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slidebars2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/brushlines.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/lines.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slider.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}