{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12"><div id="stolen-years">Stolen Years</div></div>
</div>
<div class="row">
  <div class="col-md-1"> <div id="count">Events</div></div>
  <div class="col-md-11"><div id="stacked-bar-chart">Stacked Bar Chart</div></div>
</div>
<div class="row">
  <div class="col-md-6"> <div id="line-chart">Line Chart</div></div>
  <div class="col-md-6"><div id="stacked-bars-age">Stacked Bar Chart</div></div>
</div>
<div class="row">
  <div class="col-md-12"><div id="slider">Slider</div></div>
</div>
<div class="row">
   <div class="col-md-12"><div id="map">Map</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/barbrush.js') }}"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stolenyears.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slidebars.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slidebars2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lines.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}