<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/jquery.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/bootstrap.js"></script>
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/lib/css/bootstrap.css">
  <link rel="stylesheet" href="./static/css/custom.css">
</head>

<body>
<h1>Stuff above</h1>
  <!-- add chart divs here -->
<div class="container">
	<div id="count">Events</div>

	<div id="stacked-bar-chart">Stacked Bar Chart</div>
  
	<div id="brush-chart">Brush Chart</div>
  
	<script src='./static/js/charts.js' type='text/javascript'>
  // add dc.js chart initialization code here; you can also
    // load data from assets in your gist using d3.csv('filename', ...) </script>
	
</div>


</body>
</html>