<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/jquery.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/bootstrap.js"></script>
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/lib/css/bootstrap.css">
  <link rel="stylesheet" href="./static/css/custom.css">
</head>

{% block body %}{% endblock %}