<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='lib/js/crossfilter.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/js/d3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/js/queue.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/js/underscore.js') }}"></script>
  <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script type="application/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index')}}">Lost Years - The Impact of the Overdose Crisis</a>
    </div>
  </div>
</div>
<main class="container"> 
{% block body %}{% endblock %}
</main>

</body>